@import url('https://fonts.googleapis.com/css2?family=Mina&family=Poppins&family=Secular+One&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.font-mina {
    font-family: 'Mina', sans-serif;
}

.font-secular {
    font-family: 'Secular One', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.nav-background {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
}

.home-hero-box {
    height: 100vh;

}

@media (min-width: 768px) {
    .home-hero-box {
        height: 64rem;
    }
}
