<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Welcome to Craft CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/tw_styles.css">
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/styles.css">
</head>
<body>
<div class="h-screen">
    <div class="sticky top-0 h-24 nav-background flex justify-center items-center uppercase text-white">
        <a href="{{ siteUrl }}" class="font-mina flex justify-center items-center text-white text-sm md:text-xl">
            {% set mainLayout = craft.entries().section('mainLayout').one() %}
            {{ mainLayout.logoTitle1 }}
            <img src="{{ mainLayout.logoImage.one().url }}" width="64px" class="mx-0.5">
            {{ mainLayout.logoTitle2 }}
        </a>
    </div>
    <div class="-mt-24">
    {% block content %}
        
    {% endblock %}
    </div>
</body>
</html>
