<div class="flex justify-around relative">
    {% set entries = craft.entries.section('home').type('categories').all() %}
    {% for entry in entries %}
        {% set color = loop.index is divisible by(2) ? '#d686f3' : '#F2C94C' %}
            <a href="{{ entry.categoryUrl }}" class="text-white my-1">
                <h2 style="color:{{ color }}" class="text-4xl md:text-5xl font-secular">{{ entry.title }}</h2>
                <p class="text-lg w-36">{{ entry.description }}</p>
            </a>
        {% if not loop.last %}
            <div class="border-r-2 border-white h-full opacity-60 mx-6"></div>
        {% endif %}

    {% endfor %}
</div>

