{% set hero = craft.entries().section('home').type('hero').one() %}

<div class="home-hero-box bg-center bg-cover bg-no-repeat" style="background-image: url('{{ hero.backgroundImage.one().url }}')">
    <div class="h-full flex flex-col justify-center items-center">
        <h1 class="flex items-center text-white text-2xl md:text-5xl font-mina uppercase mb-8 mt-20">
            {{ hero.logoTitle1 }}
            {% if hero.logoImage.one() %}
            <img src="{{ hero.logoImage.one().url }}" class="mx-4 w-12 md:w-20">
            {% endif %}
            {{ hero.logoTitle2 }}
        </h1>

        {% include "layouts/home/_categories" %}
    </div>
</div>

